doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Perkembangan Remaja diera Modernisasi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 PERKEMBANGAN REMAJA DI ERA MODERNISASI

      section
        h2 Latar Belakang
        h3 Perkembangan remaja saat ini telah memasuki era yang sangat memperihatinkan. Pasalnya remaja zaman sekarang sudah mulai kehilangan jati diri yang menyebabkan kurangnya moral dan kesantunan terhadap lingkunagn sekitar. hal ini sangat memperihatinkan, sehingga perlu adanya pengawasan orang tua yang lebih intensif terhadap anak-anaknya.

      section
        h2 Faktor-faktor yang mempengaruhi perkembangan remaja di era modernisasi
        h3 Kurangnya pengawasan orang tua terhhadap anaknya

      section
        h2 Pergaulan yang terlalu bebas
       

      section
        h2 Nama Kelompok
        
        ul
          li Yudi Pratama hasibuan
          li Rudi Meisah
          li Ita Apulina br sembiring

      section
        h2 Penanggulangan masalah pergaulan bebas pada remaja di era modernisaai
        h3 Penanggulangan HIV/AIDS di kalangan remaja menjadi suatu hal yang penting dan strategis untuk dilakukan.Kurangnya pengetahuan,ketiadaan akses dan masih adanya bias gender serta mitos-mitos yang berkembang di kalangan remaja adalah beberapa faktor yang mengakibatkan epidemi tersebut berjalan cepat.
        hr
        pre
          

      section(data-bespoke-hash='named-route')
        h2 
        h3 
        p 

      section(data-bespoke-state='emphatic')
        h2 
        h3 

      section
        h2.
        hr
        ul
          li 
          li 
          li 
        hr
        ul
          li
            
            

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild