doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Perkembangan Remaja diera Modernisasi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 PERKEMBANGAN REMAJA DI ERA MODERNISASI

      section
        h2 Latar Belakang
        h3 Perkembangan remaja saat ini telah memasuki era yang sangat memperihatinkan. Pasalnya remaja zaman sekarang sudah mulai kehilangan jati diri yang menyebabkan kurangnya moral dan kesantunan terhadap lingkunagn sekitar. hal ini sangat memperihatinkan, sehingga perlu adanya pengawasan orang tua yang lebih intensif terhadap anak-anaknya.

      section
        h2 Nama Kelompok

      section
          li Yudi Pratama Hasibuan
          li Rudi Meisah
          li Ita Apuliina br sembiring
          li Nora Triaweni damanik

      section
        h2 Penanggulangan masalah pergaulan bebas pada remaja di era modernisaai
        h3 Orang tua dan pemerintah merupakan pihak yang bertanggung jawab atas perkembangan remaja di era modernisasi ini. karena perkembangan psikologi anak bisa terpengaruh terhadap lingkungan sekitarnya. oleh sebab itu pemerintah dan orang tua harus melakukan pencegahan terhadap masalah perkembangan remaja saat ini.
        hr
        pre
          

      section(data-bespoke-hash='named-route')
        h2 Pencegahan HIV/AIDS
        h3 Penanggulangan HIV/AIDS di kalangan remaja menjadi suatu hal yang penting dan strategis untuk dilakukan.Kurangnya pengetahuan,ketiadaan akses dan masih adanya bias gender serta mitos-mitos yang berkembang di kalangan remaja adalah beberapa faktor yang mengakibatkan epidemi tersebut berjalan cepat.
        p 

      section(data-bespoke-state='emphatic')
        h2 Edukasi lewat jalur intrakurikulum,semikurikulum maupun ekstrakurikulum,terlebih lagi dengan diterapkan kurikulum berbasis kompetensi.
        h3 Saat ini merupakan peluang yang sangat penting guna mendorong pemberian informasi dan keterampilan untuk menerapkan perilaku reproduksi yang sehat dan upaya pencegahan bahaya narkoba da HIV/AIDS di sekolah.Berbagai pihak dapat diajak bekerjasama untuk mengembangkan kurikulum terintegrasi HIV/AIDS,narkoba dan kesehatan reproduksi di sekolah di beberapa  kabupaten dan kota di Bali,serta pembentukan forum guru serta kelompok siswa peduli AIDS dan Narkoba di sekolah-sekolah adalah sebuah langkah besar buat upaya penanggulangan HIV/AIDS di remaja.

      section
        h2.Beberapa strategi-strategi advokatif sangat perlu segera direalisasikan.
        hr
        ul
          li Memberdayakan remaja agar bisa menumbuhkan kesadaran dan solidaritas bersama untuk bisa mendapatkan pengakuan,memperjuangkan hak-hak remaja,terutama hak-hak reproduksi dan seksual remaja.
          li Melibatkan remaja dalam proses pengambilan keputusan,perencanaan,implementasi dan monitoring.
          li Mengembangkan akses informasi,pelayanan,konseling,pendampingan dan pelayanan kepada remaja.
          li Mendapatkan dukungan dari masyarakat,lembaga lain terutama pihak media massa untuk melakukan advokasi ke pemerintah dan pengambilan kebijakan.
       
	   section
	    h2 Aspek Aspek Perkembangan Remaja
		hr
		ul
		  li Perkembangan Fisik (Syaraf, Otot, Kelenjar Endokrin, Struktur fisik )
          li Perkembangan Intelegensi
          li Perkembangan Emosi
          li Perkembangan Bahasa
          li Perkembangan Sosial
          li Perkembangan Kepribadian
          li Perkembangan Moral
          li Perkembangan Kesadaran beragama
		  
		  

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild