doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Perkembangan Remaja diera Modernisasi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 PERKEMBANGAN REMAJA DI ERA MODERNISASI

      section
        h2 Nama Kelompok
        li Yudi Pratama Hasibuan
          li Rudy Meisah Lubis
          li Ita Apuliina br Sembiring
          li Nora Triaweni Damanik

      section
        h2 Latar Belakang
        h3 Perkembangan remaja saat ini telah memasuki era yang sangat memperihatinkan. Pasalnya remaja zaman sekarang sudah mulai kehilangan jati diri yang menyebabkan kurangnya moral dan kesantunan terhadap lingkunagn sekitar. hal ini sangat memperihatinkan, sehingga perlu adanya pengawasan orang tua yang lebih intensif terhadap anak-anaknya.

      section
        h2 faktor-faktor yang mempengaruhi perkembangan moral remaja di era modernisasi
        ul
         li Karena salahnya pergaulan yang mereka pilih dan kurangnya faktor pengawasan orang tua mereka.
         li Kurangnya pemupukan rasa cinta tanah air semenjak kecil.
         li Remaja sekarang lebih mampu berekspresi pada emosi dan mengungkapkan perasaan tanpa sembunyi-sembunyi dan malu.
         li Ketidakseimbangan yang menyebabkan remaja sangat sensitif dan rawan terhadap stres.
         li Lemahnya akses akan informasi tentang HIV/AIDS yang benar.

      section
        h2 Salahnya Pergaulan dan Kurangnya Pengawasan Orang Tua
        h3 Pergaulan remaja saat ini lebih cenderung ke arah pergaulan bebas,Karena salahnya pergaulan yang mereka pilih,seperti mereka berteman dengan orang yang menggunakan narkoba sehingga mereka juga ikut-ikutan menggunakan  narkoba dan kurangnya faktor pengawasan orang tua mereka.

      section
        h2 Kurangnya pemupukan rasa cinta tanah air semenjak kecil.
        h3 Generasi muda saat ini kurang memiliki rasa cinta tanah air ini dapat di lihat dari gemarnya anak muda pergi ke bioskop dari pada ke museum museum.

      section
        h2 Remaja sekarang lebih mampu berekspresi pada emosi dan mengungkapkan perasaan tanpa sembunyi-sembunyi dan tidak  malu.
        h3 Banyak yang bilang pergaulan remaja saat ini sudah sangat jauh berubah dibandingkan pada masa-masa sepuluh tahun silam.Remaja sekarang lebih mampu berekspresi pada emosi dan mengungkapkan perasaan tanpa sembunyi-sembunyi dan malu seperti dulu.

      section
        h2 Ketidakseimbangan yang menyebabkan remaja sangat sensitif dan rawan terhadap stres.
        h3 Masa remaja tetaplah merupakan suatu fase pertumbuhan dan perkembangan antara masa anak dan dewasa.Masa ini juga merupakan periode pencarian identitas diri,sehingga remaja sangat mudah terpengaruh oleh lingkungan.

      section
        h2 Penanggulangan masalah pergaulan bebas pada remaja di era modernisaai
        h3 Orang tua dan pemerintah merupakan pihak yang bertanggung jawab atas perkembangan remaja di era modernisasi ini. karena perkembangan psikologi anak bisa terpengaruh terhadap lingkungan sekitarnya. oleh sebab itu pemerintah dan orang tua harus melakukan pencegahan terhadap masalah perkembangan remaja saat ini

      section
        h2 Keadaan yang Tidak Seimbang pada Remaja
        h3 Masa remaja tetaplah merupakan suatu fase pertumbuhan dan perkembangan antara masa anak dan dewasa.Dalam periode ini pastilah terjadi perubahan yang sangat pesat dalam dimensi fisik,mental dan sosial. Masa ini 
        
        section
        h2 Lemahnya akses akan informasi tentang HIV/AIDS yang benar.
        h3 Kini semakin sering kita dengar remaja dihubungkan dengan kejadian HIV/AIDS.Hal ini sangatlah masuk  akal karena interaksi remaja di lingkungan sosialnya memungkinkan terjadi  kontak dengan virus HIV dari pergaulannya.Saat ini di dunia ada sekitar 10 juta remaja hidup dengan HIV/AIDS.Pada saat yang sama remaja juga adalah kelompok paling pontensial sebagai sebuah pilihan untuk menjadi penggerak utama untuk berperan dalam menurunkan angka kejadian infeksi baru HIV

      section
        h2 Penanggulangan masalah pergaulan bebas pada remaja di era modernisaai
        h3 Orang tua dan pemerintah merupakan pihak yang bertanggung jawab atas perkembangan remaja di era modernisasi ini. karena perkembangan psikologi anak bisa terpengaruh terhadap lingkungan sekitarnya. oleh sebab itu pemerintah dan orang tua harus melakukan pencegahan terhadap masalah perkembangan remaja saat ini

      section
        h2 Pencegahan HIV/AIDS
        h3 Penanggulangan HIV/AIDS di kalangan remaja menjadi suatu hal yang penting untuk diatasi.Kurangnya pengetahuan tentang pergaulan bebas,ketiadaan akses dan masih adanya bias gender serta mitos-mitos yang berkembang di kalangan remaja adalah beberapa faktor yang mengakibatkan epidemi tersebut berjalan cepat.
      
      section
        h2 Pencegahan HIV/AIDS (cont)
        h3 Hidari jarum suntik bekas,Hindari berhubungan intim dengan orang lain kecuali istri sendiri,Hindari memakai narkoba   Hindari memakai pakaian orang yang terkena HIV AIDS,Hindari transfusi darah tanpa pengecekan dokter.

      section
        h2 Gejala  HIV/AIDS
        h3 Demam berkepanjangan ,Penurunan berat badan berketerusan,Diare kronis yang berketerusan,Timbul bintik-bintik merah agak kebiru-biruan di sebagian tubuh
        h3 HIV juga dapat menyebabkan gejala seperti sakit tenggorokan dan sakit kepala

      section
        h2 Edukasi lewat jalur intrakurikulum,semikurikulum maupun ekstrakurikulum,terlebih lagi dengan diterapkan kurikulum berbasis kompetensi.
        h3 Saat ini merupakan peluang yang sangat penting guna mendorong pemberian informasi dan keterampilan untuk menerapkan perilaku reproduksi yang sehat dan upaya pencegahan bahaya narkoba da HIV/AIDS di sekolah.

      section
        h2.Beberapa strategi-strategi advokatif sangat perlu segera direalisasikan.
        hr
        ul
          li Memberikan masukan moral pada remaja agar bisa menumbuhkan kesadaran dan solidaritas bersama untuk bisa mendapatkan pengakuan,memperjuangkan hak-hak remaja,terutama hak-hak reproduksi dan seksual remaja.
          li Melibatkan remaja dalam proses pengambilan keputusan,perencanaan,implementasi dan monitoring.
          li Mengembangkan akses informasi,pelayanan,konseling,pendampingan dan pelayanan kepada remaja.    

      section
       h2.Memberdayakan remaja agar bisa menumbuhkan kesadaran dan solidaritas bersama untuk bisa mendapatkan 
       hr
       ul
          li Edukasi lewat jalur intrakurikulum,semikurikulum maupun ekstrakurikulum,terlebih lagi dengan diterapkan kurikulum berbasis kompetensi.

        section
        h2 Edukasi lewat jalur intrakurikulum,semikurikulum maupun ekstrakurikulum,terlebih lagi dengan diterapkan kurikulum berbasis kompetensi.
        h3 Saat ini merupakan peluang yang sangat penting guna mendorong pemberian informasi dan keterampilan untuk menerapkan perilaku reproduksi yang sehat dan upaya pencegahan bahaya narkoba da HIV/AIDS di sekolah.
        
     
        

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild